/* this css styling to produce hexagon tiling is based on 
work done by Graham Pyne
found at: https://codepen.io/gpyne/pen/iElhp */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');


:root {
  --wide: 200px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Pro', serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
}

.header {
  width: var(--wide) * 6;
  color: white;
  font-weight: normal;
}

.hex-container {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(6, var(--wide));
  grid-template-rows: auto;
  width: calc(var(--wide) * 6);
  height: 160px;
  gap: 0px 10px;
  padding: 0px;
}

.hexagon {
  margin: 0;
  width: var(--wide);
  height: var(--wide);
  object-fit: none;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hex-container:nth-child(even) {
  margin-left: 105px;
}
